---
import Layout from "@/layouts/Layout.astro"
---

<Layout title="404 not found">
  <main>
    <h1>Page not found</h1>
    <ul role="list">There was an error locating the page</ul>
  </main>
</Layout>
