---
import Layout from "@/layouts/Layout.astro"
import Cart from "@/components/Cart/Cart.vue"
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="text-center text-3xl font-bold p-4">Cart</h1>
    <Cart client:load />
  </main>
</Layout>
