---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Categories page</h1>
    <ul role="list" class="link-card-grid">
      <Card title="Categories" body="Categories page" />
    </ul>
  </main>
</Layout>
