---
import Layout from "@/layouts/Layout.astro"

import Cart from "@/components/Cart/Cart.vue"
import Checkout from "@/components/Checkout/Checkout.vue"
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="text-center text-3xl font-bold p-4">Checkout</h1>
    <Cart showCheckoutButton={false} client:load />
    <Checkout client:load />
  </main>
</Layout>
