---
import Layout from "../layouts/Layout.astro"

import ShowAllProducts from "@/components/Products/ShowAllProducts.vue"
import Hero from "@/components/Index/Hero.vue"
---

<Layout title="Welcome to Astro Woocommerce">
  <main>
    <Hero />
    <ShowAllProducts client:load />
  </main>
</Layout>
