---
import Layout from "../layouts/Layout.astro"

import ShowAllProducts from "@/components/Products/ShowAllProducts.vue"
---

<Layout title="Welcome to Products">
  <main>
    <h1 class="text-3xl text-center font-bold p-6">Products page</h1>
    <ShowAllProducts client:load />
  </main>
</Layout>
