---
import Layout from "../layouts/Layout.astro"

import AllProducts from "@/components/Products/AllProducts.vue"
---

<Layout title="Welcome to Products">
  <main>
    <h1 class="text-3xl text-center font-bold p-6">Products page</h1>
    <AllProducts client:load />
  </main>
</Layout>
