---
import Layout from "@/layouts/Layout.astro"
import Search from "~/components/Search/Search.vue"
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Search page</h1>
    <ul role="list">Search page"</ul>
    <Search client:load />
  </main>
</Layout>
