---
import Layout from "@/layouts/Layout.astro"
import Search from "~/components/Search/Search.vue"
---

<Layout title="Search">
  <main>
    <h1 class="text-center text-3xl font-bold p-4">Search</h1>
    <Search client:load />
  </main>
</Layout>
