---
import Layout from "@/layouts/Layout.astro"

import SingleProduct from "@/components/Products/SingleProduct.vue"

const { id, slug } = Astro.params
---

<Layout title="Welcome to Single Products">
  <main>
    <h1 class="text-3xl text-center font-bold p-6">Single Product page</h1>
    <SingleProduct id={id} slug={slug} client:load />
  </main>
</Layout>
